html {
	box-sizing: border-box;
	font-size: 10px;
	background-color:burlywood;
}

.title{
	position:absolute;
	top:20%;
	left:40%;
	font-size:8rem;
}

.mole-page1{
	margin-top:70px;
	width:600px;
	height:600px;
}

.description{
	position:absolute;
	top:40%;
	left:40%;
	color:rgba(0, 0, 0, 0.603);
}

.button1{
	text-decoration:none;
	font-size:30px;
	background-color:black;
    opacity:0.6;
	color:white;
	border-radius:5%;
	padding:5px;
}


/* なんでbox-sizingの設定が必要なのか、結局よくわからなかった。
時間があったら、最後に調べよう。別に消去しても問題なかったから、時間なかったら消しちゃえ！！ */
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Saira Stencil One', cursive;
}

h1 {
	text-align: center;
	font-size: 6rem;
	line-height: 1;
	margin-bottom: 0;
}

h2{
	text-align:center;
	font-size:4rem;
}

.score {
	background: rgba(250, 138, 9, 0.918);
	padding: 0 3rem;
	line-height: 1;
	border-radius: 1rem;
}

.display{
	background: rgba(255, 255, 255, 0.2);
	padding: 0 3rem;
	line-height: 1;
	border-radius: 1rem;
}
.game {
	width: 600px;
	height: 400px;
	/* なんでdisplay:flexとか、その下のflex-wrapを消すと、なにも表示されなくなるんだろう？？
	わからんな。 */
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.hole {
	/* なんだこのflex:1~とかは！！！ 
	このflexもないと、holeが全く表示されない。なぜ？？
	でもとりあえずわかったのは、これがあるおかげで、綺麗に三つで並んでる。*/
	flex: 1 0 30%;
	/* このoverflowhiddenがないと、 土の下に潜ってる時が丸見え的な笑*/
	overflow: hidden;
	/* このposition rerative設定してないと、位置もずれるし、大きさもめちゃくちゃおっきくなっちゃうし、なんかおかしい
	なんでだろ？ */
	position: relative;
}

.hole:after {
/* 　   このdisplay:blockもなんのためかよくわからん */
	display: block;
	/* なんで、bottom center必要やねん */
	background: url(../images/dirt.svg) bottom center no-repeat;
	/* 縦横比が保たれたまま、背景画像が領域に収まる程度に調整される。 */
	background-size: contain;

	/* なんで、これ消すとdirtの画像が消えるねん。なんなんこれ！！ */
	content: "";
	
	width: 100%;
	height: 70px;
	position: absolute;

	/* このzインデックス必要？？ */
	z-index: 2;

	/* これめっちゃ大事だった！！これ確認してわかったけど、土とモールは、ボックスの中で位置調節しいてる感じっぽい。
	土の位置を下げることで、ちゃんと穴から出てるように設定できるみたい。 */
	bottom: -30px;
}

.mole {
	background: url("./images/mole02.png") bottom center no-repeat;
	background-size: 80%;

	/* position absoluteって、holeを親要素として、機能させてるのかしらね。
	positionの概念の今一度の確認！理解深めたら今後にも生きてきそう！！ */
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	/* このtransitionの働きがよくわからんなぁ。なんで、２.３sにすると、モグラちょっとしか出てこない感じになるんやろ？？ */
	transition: all 0.8s;
}

/* あー！このupめちゃくちゃ大事！！javascriptとcssが交差してる箇所。 */
.hole.up .mole {
/* 　なんなんだろうこれ、0じゃないとうまく動かない */
	top: 0;
}

button {
	display: block;
	margin: 1em auto;
	padding: 1em;
	border-radius: 25%;
	background-color: black;
	color: #fff;
	font-size: 2em;
	font-family: "Amatic SC";
}

/* これは、startボタンの外枠がダサくならないための仕掛け。
まぁ、なんでactiveとfocusつけなきゃいけないのかはよくわからないけど。 */
button:active,
:focus {
	outline: none;
}

/* @media only screen and (max-width: 600px) {
	body{
		text-align: center;
	}
	.title{
		position:absolute;
		top:5%;
		font-size:40px;
	}
	.mole-page1{
		width:500px;
		margin-top:150px;

	}

	.description{
		margin-top:700px;
		margin-left:100px;
	}

	.button1{
		position:absolute;
		top:800px;
	}
  } */